.site {
    padding: 20px;
    font-family: 'Noto Sans JP', sans-serif;
}


.ios-android {
    display: flex;
    justify-content: flex-start;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    flex-direction: row;
    flex-wrap: wrap;
}

.store-badge {
    margin-right: 20px;
    max-width: 250px;
    border-radius: 13px; 
}

@media screen and (max-width: 768px) {
    .store-badge {
        margin-top: 20px;
    }
}

.img-logo {
    width: 5rem;
    border-radius: 80%;
}

.name {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.descrip {
    margin-bottom: 2rem;
}

.img-feature {
    width: 15rem;
    margin-right: 1rem;
    padding: 5px;
    border: 1px solid black;
    border-radius: 10px;
}

.images-container {
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
}

.images {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: scroll;
}

.c {
    border: 1px solid black;
}

.link {
    margin-top: 10px;
    margin-bottom: 10px;
}